@charset "UTF-8";

:root {
    --gold: #EDCB68;
    --blue: #121528;
    --text: #FEFEFE;
}

.container {
    background-color: var(--blue);
}

html body {
    background-color: var(--blue);
}

p {
    color: var(--text);
}

h1, h2 {
    color: var(--gold);
}

#footer {
    background-color: var(--gold);
    display: block;
}

#footer p {
    color: #252525;
}

#overview {
    background-color: #3dd5f3;
    height: 250px;
    border: 1px solid white;
}